@page
@model Interfaz.Pages.CalificacionExitosaModel
@{
    ViewData["Title"] = "Calificación Exitosa";
}

<h2>Calificación Exitosa</h2>

<p>¡Gracias por su calificación y comentario! Apreciamos su retroalimentación.</p>
<a href="/" class="btn btn-primary">Volver a la tienda</a>



