@page
@model Interfaz.Pages.LogoutModel
@{
    ViewData["Title"] = "Cerrar ssesión";
}

<h2>Sesión Cerrada</h2>

<p>Tu sesión ha sido cerrada con exito.</p>
<a href="/Login" class="btn btn-primary">Login</a>
